{% include '@Header/header.twig' %}

<div class="container px-3">
    <div class="row">

        <h1>Rolling stats</h1>
        <div class="col-md-6">
            <h2>7 days</h2>
            {% if weeklyMatTime is not empty %}
                <p>Mat time: {{ weeklyMatTime }}</p>
            {% endif %}
            {% if weeklyRoundDuration is not empty %}
                <p>Time spent rolling: {{ weeklyRoundDuration }}</p>
            {% endif %}
            {% if totalRoundsWeekly is not empty %}
                <p>Rounds rolled: {{ totalRoundsWeekly }}</p>
            {% endif %}
        </div>
        
        <div class="col-md-6">
            <h2>1 month</h2>
            {% if monthlyMatTime is not empty %}
                <p>Mat time: {{ monthlyMatTime }}</p>
            {% endif %}
            {% if monthlyRoundDuration is not empty %}
                <p>Time spent rolling: {{ monthlyRoundDuration }}</p>
            {% endif %}
            {% if totalRoundsMonthly is not empty %}
                <p>Rounds rolled: {{ totalRoundsMonthly }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <h2>6 months</h2>
            {% if biannualMatTime is not empty %}
                <p>Mat time: {{ biannualMatTime }}</p>
            {% endif %}
            {% if biannualRoundDuration is not empty %}
                <p>Time spent rolling: {{ biannualRoundDuration }}</p>
            {% endif %}
            {% if totalRoundsMonthly is not empty %}
                <p>Rounds rolled: {{ totalRoundsMonthly }}</p>
            {% endif %}
        </div>

        <div class="col-md-6">
            <h2>All time</h2>
            {% if totalMatTime is not empty %}
                <p>Mat time: {{ totalMatTime }}</p>
            {% endif %}
            {% if totalRoundDuration is not empty %}
                <p>Time spent rolling: {{ totalRoundDuration }}</p>
            {% endif %}
            {% if totalRounds is not empty %}
                <p>Rounds rolled: {{ totalRounds }}</p>
            {% endif %}
        </div>

    </div>
</div>


