{% include '@Header/header.twig' %}

<div class="container-fluid">
    <div class="row p-5">
        <h3 class="col-12">Dashboard</h3>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body shadow">
                    <h5 class="card-title">Card Title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Card Title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body shadow">
                    <h5 class="card-title">Roll counter</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body shadow">
                    <h5 class="card-title">Days since starting</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-sm-7">
            <canvas id="combinedChart"></canvas>
        </div>

        <div class="col-sm-5 d-flex justify-content-center align-items-center">
            <canvas id="techniquesPerPosition"></canvas>
            <div id="techniquePositionChartData" data-labels="{{ techniquesPerPositionLabels }}" data-values="{{ techniquesPerPositionValues }}" style="display: none;"></div>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-sm-6">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Technique name</th>
                    <th>Instructor</th>
                    <th>Created at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if techniquesClasses is not empty %}
                {% for techniqueClass in techniquesClasses %}
                <tr>
                    <td>{{ techniqueClass.techniqueName }}</td>
                    <td>{{ techniqueClass.instructor }}</td>
                    <td>{{ techniqueClass.journalNoteDate }}</td>
                    <td>
                        <form method="POST" action="">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No entries found.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        </div>

        <div class="col-sm-6">
            Quick note section

        </div>
    </div>

   
    </div>
</div>

<script>
    // Assuming 'totalMatTimeMonthly' and 'totalTechniquesLearnedMonthly' are passed to the Twig template
    var totalMatTimeData = {{ totalMatTimeMonthly|json_encode|raw }};
    var techniquesLearnedData = {{ totalTechniquesLearnedMonthly|json_encode|raw }};
</script>

<script src="/technique-db-mvc/public/js/techniquesPerPosition.js"></script>
<script src="/technique-db-mvc/public/js/techniqueMatTimeChart.js"></script>
