{% include '@Header/header.twig' %}

<div class="container">
    <div class="row stats">
        <div class="col-md-4 text-center">
            {% if totalMatTime is not empty %}
                <p>Total mat time: {{ totalMatTime }}</p>
            {% endif %}
        </div>
        <div class="col-md-4 text-center">
            {% if totalRounds is not empty %}
                <p>Total rounds rolled: {{ totalRounds }}</p>
            {% endif %}
        </div>
        <div class="col-md-4 text-center">
            {% if totalRoundDuration is not empty %}
                <p>Total time spent rolling: {{ totalRoundDuration }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row p-5">
        <h3 class="col-12">Dashboard</h3>
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Technique name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    {% if techniquesClasses is not empty %}
                        {% for techniqueClass in techniquesClasses %}
                        <tr>
                            <td>{{ techniqueClass.techniqueName }}</td>
                            <td>{{ techniqueClass.techniqueDescription }}</td>
                            <td>{{ techniqueClass.categoryName }}</td>
                            <td>{{ techniqueClass.positionName }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">No entries found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <form method="POST" action="">
                <!-- User ID -->
                <h4>Make a note</h4>
                <div class="form-group">
                    <input type="hidden" class="form-control" id="userID" name="userID" required value="{{ userID }}">
                </div>
                <!-- Content -->
                <div class="form-group{{ errors.content ? ' has-error' : '' }}">
                    <textarea class="form-control" id="quicknote" name="quicknote" value="{{ input.content ?? '' }}"></textarea>
                    {% if errors.content %}
                        <span class="help-block error-message">{{ errors.content }}</span>
                    {% endif %}
                </div>
                <button type="submit" name="submit" class="btn btn-primary mb-2">Submit</button>
            </form>

            {% if quickNotes is not empty %}
                {% for quickNote in quickNotes %}
                <div class="card mb-2">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <p class="card-text mb-0">{{ quickNote.content|nl2br }}</p>
                        <form method="POST" action="mainview"> <!-- Specify the correct path -->
                            <input type="hidden" name="delete" value="1">
                            <input type="hidden" name="quicknoteID" value="{{ quickNote.quicknoteID }}">
                            <button type="submit" class="btn">
                                <img src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/icons/trash.svg" alt="Delete">
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No notes found.</p>
            {% endif %}
        </div>
    </div>

        <div class="row px-5">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Techniques Studied</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mat Time</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <canvas id="techniquesLearnedChart"></canvas>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <canvas id="matTimeChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var totalMatTimeData = {{ totalMatTimeMonthly|json_encode|raw }};
    var techniquesLearnedData = {{ totalTechniquesLearnedMonthly|json_encode|raw }};
    var techniquesPerPositionData = {{ techniquesPerPosition|json_encode|raw }};
</script>

<script src="/technique-db-mvc/public/js/techniquesPerPosition.js"></script>
<script src="/technique-db-mvc/public/js/techniqueMatTimeChart.js"></script>

<script src="/technique-db-mvc/public/js/totalMatTime.js"></script>
<script src="/technique-db-mvc/public/js/techniquesLearned.js"></script>
<script src="/technique-db-mvc/public/js/beltChart.js"></script>