{% include '@Header/header.twig' %}
{% include '@HeaderViewItems/header_viewitems.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Position</th>
                        <th>Difficulty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% if techniques is not empty %}
                    {% for technique in techniques %}
                        <tr>
                            <td>{{ technique.techniqueName }}</td>
                            <td>{{ technique.techniqueDescription }}</td>
                            <td>{{ technique.categoryName }}</td>
                            <td>{{ technique.positionName }}</td>
                            <td>{{ technique.difficulty }}</td>
                            <td>
                                <button type="button" class="btn" data-toggle="modal" data-target="#modal{{ technique.techniqueID }}">
                                    <img src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/icons/trash.svg" alt="Delete">
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No techniques found.</p>
                {% endif %}  
                </tbody>
            </table>
        </div>
    </div>
</div>