{% include '@Header/header.twig' %}

<div class="container px-3 mt-3">

    <div class="row">
        <span>View | Technique
            <a href="/viewitems">
                <img src="/img/cancel.svg" alt"cancel">
            </a>
        </span>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include '@HeaderViewItems/header-viewitems.twig' %}            
        
            <table class="table table-hover">
                {% if techniques is empty %}
                    <p>No techniques found.</p>
                {% else %}
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Position</th>
                        <th>Class</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for technique in techniques %}
                        <tr>
                            <td>{{ technique.techniqueName }}</td>
                            <td>{{ technique.techniqueDescription }}</td>
                            <td>{{ technique.categoryName }}</td>
                            <td>{{ technique.positionName }}</td>
                            <td>{{ technique.location }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}  
                </tbody>
            </table>
        </div>
    </div>
</div>