{% include '@Header/header.twig' %}

<div class="container px-3 mt-3">

    <div class="row">
        <span>View | Class
            <a href="/viewitems">
                <img src="/img/cancel.svg" alt"cancel">
            </a>
        </span>
    </div>

    <div class="row">
        <div class="col-md-12" style="overflow-x: auto; white-space: nowrap;">
            {% include '@HeaderViewItems/header-viewitems.twig' %}
            
            {% if classes is empty %}
                <p>No classes found for this user.</p>
            {% else %}
            <table class="table table-hover table-styles">
                <thead class="thead-light">
                    <tr class="tr">
                        <th>Instructor</th>
                        <th>Location</th>
                        <th>Duration</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount of rounds</th>
                        <th>Round duration (min)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                        <tr class="tr">
                            <td class="td">{{ class.instructor }}</td>
                            <td>{{ class.location }}</td>
                            <td>{{ class.classDuration }} min</td>
                            <td>{{ class.classDate }}</td>
                            <td>{{ class.classDescription }}</td>
                            <td>{{ class.rounds }}</td>
                            <td>{{ class.roundDuration }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}   
                </tbody>
            </table>
        </div>
    </div>
</div>

