{% include '@Header/header.twig' %}

<div class="container px-3 mt-3">

    <div class="row">
        <span>Add | Technique
            <a href="/addnew">
                <img src="/img/cancel.svg" alt"cancel">
            </a>
        </span>
    </div>

    {% include '@HeaderAddItems/header-additems.twig' %}

    <form method="POST" action="" class="mt-3">
        <h5>Add a technique</h5>
        <!-- User ID -->
        <div class="form-group">
            <input type="hidden" class="form-control" id="userID" name="userID" required value="{{ userID }}">
        </div>

        <!-- Name -->
        <div class="form-group{{ errors.techniqueName ? ' has-error' : '' }}">
            <label for="techniqueName" class="mt-3">Name:</label>
            <input type="text" class="form-control" id="techniqueName" name="techniqueName" value="{{ input.techniqueName ?? '' }}">
            {% if errors.techniqueName %}
                <span class="form-text error-message">{{ errors.techniqueName }}</span>
            {% endif %}
        </div>

        <!-- Description -->
        <div class="form-group{{ errors.techniqueDescription ? ' has-error' : '' }}">
            <label for="techniqueDescription" class="mt-3">Description:</label>
            <textarea class="form-control" id="techniqueDescription" name="techniqueDescription" value="{{ input.techniqueDescription ?? '' }}"></textarea>
            {% if errors.techniqueDescription %}
                <span class="form-text error-message">{{ errors.techniqueDescription }}</span>
            {% endif %}
        </div>

        <!-- Category -->
        <div class="form-group">
            <label for="techniqueCategory" class="mt-3">Category:</label>
            <select class="form-control" id="categoryID" name="categoryID" required>
                <option value="">Select a category</option> 
                {% for category in categories %}
                    <option value="{{ category.categoryID }}">{{ category.categoryName }}</option>
                {% endfor %}
                {% if errors.categoryID %}
                    <span class="form-text error-message">{{ errors.categoryID }}</span>
                {% endif %}
            </select>
        </div>

        <!-- Position -->
        <div class="form-group">
            <label for="techniquePosition" class="mt-3">Position:</label>
            <select class="form-control" id="positionID" name="positionID" required>
                <option value="">Select a position</option>
                {% for position in positions %}
                    <option value="{{ position.positionID }}">{{ position.positionName }}</option>
                {% endfor %}
                {% if errors.positionID %}
                    <span class="form-text error-message">{{ errors.positionID }}</span>
                {% endif %}
            </select>
        </div>

        <!-- Class -->
        <div class="form-group">
            <label for="classID" class="mt-3">Training class:</label>
            <select class="form-control" id="classID" name="classID">
                <option value="">Select a training class</option>
                {% for trainingClass in trainingClasses %}
                    <option value="{{ trainingClass.classID }}">{{ trainingClass.instructor }}{{ trainingClass.location }}{{ trainingClass.classDate }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" name="submit" class="primary-button mt-3">Add</button>
    </form>
</div>