{% include '@Header/header.twig' %}

<div class="container px-3 mt-3">
    {% include '@HeaderAddItems/header-additems.twig' %}

    <!-- Category Form Column -->
    <form method="POST" action="" class="mt-3">
        <h5>Add a category</h5>

        <!-- User ID -->
        <div class="form-group">
            <input type="hidden" class="form-control" id="userID" name="userID" required value="{{ userID }}">
        </div>

        <!-- Category name -->
        <div class="form-group{{ errors.categoryName ? ' has-error' : '' }}">
            <label for="categoryName" class="mt-3">Category Name:</label>
            <input type="text" class="form-control" id="categoryName" name="categoryName" value="{{ input.categoryName }}" placeholder="">
            {% if errors.categoryName %}
                <span class="form-text error-message">{{ errors.categoryName }}</span>
            {% endif %}
        </div>

        <!-- Description -->
        <div class="form-group{{ errors.categoryDescription ? ' has-error' : '' }}">
            <label for="categoryDescription" class="mt-3">Description:</label>
            <textarea class="form-control" id="categoryDescription" name="categoryDescription" value="{{ input.categoryDescription  ?? '' }}" placeholder=""></textarea>
            {% if errors.categoryDescription %}
                <span class="form-text error-message">{{ errors.categoryDescription }}</span>
            {% endif %}
        </div>

        <button type="submit" name="submitCategory" class="primary-button mt-3">Add</button>
    </form>
</div>