{% include '@Header/header.twig' %}
{% include '@HeaderAddItems/header_additems.twig' %}

<div class="container px-3 mt-3">
    <!-- Position Form Column -->
    <form method="POST" action="" >
        <!-- Position name -->
        <h5>Add a position</h5>
        <div class="form-group{{ errors.positionName ? ' has-error' : '' }}">
                <label for="positionName" class="mt-3">Position name:</label>
                <input type="text" class="form-control" id="positionName" name="positionName" value="{{ input.positionName  ?? '' }}" placeholder="">
                {% if errors.positionName %}
                    <span class="form-text error-message">{{ errors.positionName }}</span>
                {% endif %}
            </div>

            <!-- Description -->
            <div class="form-group{{ errors.positionDescription ? ' has-error' : '' }}">
                <label for="positionDescription" class="mt-3">Description:</label>
                <textarea class="form-control" id="positionDescription" name="positionDescription" value="{{ input.positionDescription  ?? '' }}" placeholder=""></textarea>
                {% if errors.positionDescription %}
                    <span class="form-text error-message">{{ errors.positionDescription }}</span>
                {% endif %}
            </div>
        <button type="submit" name="submitPosition" class="primary-button mt-3">Add</button>
    </form>
</div>