{% include '@Header/header.twig' %}

<div class="container-fluid p-5">
    <!-- Back button -->
    <button class="svg-button" onclick="window.location.href='addnew'">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
    </svg>
    </button>

    <form method="POST" action="">
        <h4>Add a New Technique</h4>
        
        <!-- User ID -->
        <div class="form-group">
            <input type="" class="form-control" id="userID" name="userID" required value="{{ userID }}">

        </div>

        <!-- Name -->
        <div class="form-group{{ errors.techniqueName ? ' has-error' : '' }}">
            <label for="techniqueName">Technique Name:</label>
            <input type="text" class="form-control" id="techniqueName" name="techniqueName" value="{{ input.techniqueName ?? '' }}">
            {% if errors.techniqueName %}
                <span class="help-block error-message">{{ errors.techniqueName }}</span>
            {% endif %}
        </div>

        <!-- Description -->
        <div class="form-group{{ errors.techniqueDescription ? ' has-error' : '' }}">
            <label for="techniqueDescription">Description:</label>
            <textarea class="form-control" id="techniqueDescription" name="techniqueDescription" value="{{ input.techniqueDescription ?? '' }}"></textarea>
            {% if errors.techniqueDescription %}
                <span class="help-block error-message">{{ errors.techniqueDescription }}</span>
            {% endif %}
        </div>

        <!-- Category -->
        <div class="form-group">
            <label for="techniqueCategory">Category:</label>
            <select class="form-control" id="categoryID" name="categoryID" required>
                <option value="">Select a Category</option> 
                {% for category in categories %}
                    <option value="{{ category.categoryID }}">{{ category.categoryName }}</option>
                {% endfor %}
                {% if errors.categoryID %}
                    <span class="help-block error-message">{{ errors.categoryID }}</span>
                {% endif %}
            </select>
        </div>

        <!-- Position -->
        <div class="form-group">
            <label for="techniquePosition">Position:</label>
            <select class="form-control" id="positionID" name="positionID" required>
                <option value="">Select a Position</option>
                {% for position in positions %}
                    <option value="{{ position.positionID }}">{{ position.positionName }}</option>
                {% endfor %}
                {% if errors.positionID %}
                    <span class="help-block error-message">{{ errors.positionID }}</span>
                {% endif %}
            </select>
        </div>

        <button type="submit" name="submit" class="btn btn-primary btn2">Add Technique</button>
    </form>
</div>