{% include '@Header/header.twig' %}
{% include '@HeaderAddItems/header_additems.twig' %}

<div class="container">
    <form method="POST" action="">
        <h5>Add a technique</h5>
        
        <!-- User ID -->
        <div class="form-group">
            <input type="hidden" class="form-control" id="userID" name="userID" required value="{{ userID }}">
        </div>

        <!-- Name -->
        <div class="form-group{{ errors.techniqueName ? ' has-error' : '' }}">
            <label for="techniqueName" class="mt-3">Technique Name:</label>
            <input type="text" class="form-control" id="techniqueName" name="techniqueName" value="{{ input.techniqueName ?? '' }}">
            {% if errors.techniqueName %}
                <span class="help-block error-message">{{ errors.techniqueName }}</span>
            {% endif %}
        </div>

        <!-- Description -->
        <div class="form-group{{ errors.techniqueDescription ? ' has-error' : '' }}">
            <label for="techniqueDescription" class="mt-3">Description:</label>
            <textarea class="form-control" id="techniqueDescription" name="techniqueDescription" value="{{ input.techniqueDescription ?? '' }}"></textarea>
            {% if errors.techniqueDescription %}
                <span class="help-block error-message">{{ errors.techniqueDescription }}</span>
            {% endif %}
        </div>

        <!-- Category -->
        <div class="form-group">
            <label for="techniqueCategory" class="mt-3">Category:</label>
            <select class="form-control" id="categoryID" name="categoryID" required>
                <option value="">Select a Category</option> 
                {% for category in categories %}
                    <option value="{{ category.categoryID }}">{{ category.categoryName }}</option>
                {% endfor %}
                {% if errors.categoryID %}
                    <span class="help-block error-message">{{ errors.categoryID }}</span>
                {% endif %}
            </select>
        </div>

        <!-- Position -->
        <div class="form-group">
            <label for="techniquePosition" class="mt-3">Position:</label>
            <select class="form-control" id="positionID" name="positionID" required>
                <option value="">Select a Position</option>
                {% for position in positions %}
                    <option value="{{ position.positionID }}">{{ position.positionName }}</option>
                {% endfor %}
                {% if errors.positionID %}
                    <span class="help-block error-message">{{ errors.positionID }}</span>
                {% endif %}
            </select>
        </div>

        <button type="submit" name="submit" class="btn btn-primary mt-3">Add Technique</button>
    </form>
</div>